@import "cbxwpsimpleaccounting-variables";

.cbxclearfix{
    clear: both;
}

.cbxwpaccounting_addon{
    width: 40%;
    float: left;
    margin: 5%;
}
.cbxwpaccounting_addon a img{
    width: 100%;
}

@media only screen and (max-width: 768px){
    .cbxwpaccounting_addon{
        width: 100%;
    }
}