/*
https://material-ui.com/customization/color/
primary color: #4834d4
secondary color: #4D56DC
third color : #6685E3
fourth color: #80AEEA
*/
@import "cbxwpsimpleaccounting-variables";

a, a:active, a:focus, a:hover{
    /*color: #4834d4;*/
    box-shadow: none;
}
#adminmenu .wp-menu-open.toplevel_page_cbxwpsimpleaccounting{
    background-color: #4834d4 !important;
    color: #fff !important;
}

#toplevel_page_cbxwpsimpleaccounting .wp-submenu li.current,
#toplevel_page_cbxwpsimpleaccounting .wp-submenu li.current:hover{
    background-color: #4D56DC !important;
    color: #fff !important;
    font-weight: bold !important;
}

#toplevel_page_cbxwpsimpleaccounting .wp-submenu li:hover{
    background-color: #6685E3 !important;
    color: #fff !important;
    font-weight: normal !important;
}

#toplevel_page_cbxwpsimpleaccounting .wp-submenu li a:focus,
#toplevel_page_cbxwpsimpleaccounting .wp-submenu li a:hover{
    color: #fff !important;
    //color: rgba(0, 0, 0, 0.87) !important;
    background-color: #6685E3 !important;
}



.postbox {
    border-top: 2px solid #4D56DC;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.nav-tab{
    background-color: #fff !important;
    box-shadow: none !important;
}

.nav-tab:hover{
    background: #4D56DC !important;
    color: #fff !important;
    //border-top: 2px solid #4D56DC;
}
.nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
    border-top: 2px solid #4834d4;
}
.nav-tab-active{
    border-top: 2px solid #4834d4;
    background: #4834d4 !important;
    color: #fff !important;
}

.nav-tab-active:hover{
    background: #4834d4 !important;
    border-top: 2px solid #4834d4;
}

.nav-tab-active, .nav-tab-active:hover, .nav-tab-active:focus, .nav-tab-active:focus:active,
h1.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, .nav-tab-wrapper{
    border-bottom: 1px solid #4834d4;
}
#postbox-container-1 .postbox{
    border-top: 2px solid #4834d4;
}
#postbox-container-1 .postbox h3{
    background-color: #4834d4;
    color: #fff;
}

/*button override*/

.wp-core-ui .button,
.wp-core-ui .button-secondary {
    color: #ffffff;
    border-color: #4834d4;
    background: #4D56DC;

}


.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover{
    color: #ffffff;
    border-color: #4834d4;
    background: #4834d4;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
    color: #ffffff;
    border-color: #4834d4;
    background: #4834d4;
    box-shadow: 0 0 0 1px #4834d4;
}

/* :active state */
.wp-core-ui .button:active,
.wp-core-ui .button-secondary:active {
    border-color: #4834d4;
    background: #4834d4;
}

/* pressed state e.g. a selected setting */
.wp-core-ui .button.active,
.wp-core-ui .button.active:hover {
    background-color: #e2e4e7;
    color: #4834d4;
    border-color: #4834d4;
    box-shadow: inset 0 2px 5px -3px #016087;
}

.wp-core-ui .button.active:focus {
    border-color: #4834d4;
    box-shadow:
            inset 0 2px 5px -3px #016087,
            0 0 0 1px #4834d4;
}

.wp-core-ui .button[disabled],
.wp-core-ui .button:disabled,
.wp-core-ui .button.disabled,
.wp-core-ui .button-secondary[disabled],
.wp-core-ui .button-secondary:disabled,
.wp-core-ui .button-secondary.disabled,
.wp-core-ui .button-disabled {
    color: rgba(0, 0, 0, 0.7) !important;
    background: #80AEEA !important;
    border-color: #80AEEA !important;
    box-shadow: none !important;
    text-shadow: 0 1px 0 #fff !important;
}

/* Buttons that look like links, for a cross of good semantics with the visual */
.wp-core-ui .button-link {

    /* Mimics the default link style in common.css */
    color: #4D56DC;



}

.wp-core-ui .button-link:hover,
.wp-core-ui .button-link:active {
    color: #4834d4;
}

.wp-core-ui .button-link:focus {
    color: #4834d4;
    box-shadow:
            0 0 0 1px #5b9dd9,
            0 0 2px 1px rgba(30, 140, 190, 0.8);
    /* Only visible in Windows High Contrast mode */

}

.wp-core-ui .button-link-delete {
    color: #a00;
}

.wp-core-ui .button-link-delete:hover,
.wp-core-ui .button-link-delete:focus {
    color: #dc3232;

}


.ie8 .wp-core-ui .button-link:focus {
    outline: #5b9dd9 solid 1px;
}

/* ----------------------------------------------------------------------------
  3.0 - Primary Button Style
---------------------------------------------------------------------------- */

.wp-core-ui .button-primary {
    background: #4834d4;
    border-color: #4834d4;
    color: #fff;

}

.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus {
    background: #4D56DC;
    border-color: #4834d4;
    color: #fff;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus {
    box-shadow:
            0 0 0 1px #fff,
            0 0 0 3px #4834d4;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary:active {
    background: #4D56DC;
    border-color: #4834d4;

    color: #fff;
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled {
    color: rgba(0, 0, 0, 0.7) !important;
    background: #80AEEA !important;
    border-color: #80AEEA !important;

}

/* ----------------------------------------------------------------------------
  4.0 - Button Groups
---------------------------------------------------------------------------- */



/* pressed state e.g. a selected setting */
.wp-core-ui .button-group > .button.active {
    background-color: #e2e4e7;
    color: #00669b;
    border-color: #016087;
    box-shadow: inset 0 2px 5px -3px #016087;
}

.wp-core-ui .button-group > .button.active:focus {
    border-color: #4834d4;
    box-shadow:
            inset 0 2px 5px -3px #016087,
            0 0 0 1px #4834d4;
}

/*
.wp-heading-inline{
    position: relative;
    padding-left: 35px !important;
    color: #4834d4;
}

.wp-heading-inline:before{
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 29px;
    height: 29px;
    background-image: url("../images/icon_48.png");
    display: inline-block;
    background-size: contain;
}*/


#cbxwpsimpleaccounting .btn-primary, .cbxwpsimpleaccounting .btn-primary{
    background-color: #4834d4 !important;
    border-color: #4D56DC !important;
}

#cbxwpsimpleaccounting .btn-info, .cbxwpsimpleaccounting .btn-info{
    background-color: #4D56DC !important;
    border-color: #6685E3 !important;
}
/*
#cbxwpsimpleaccounting input[type="file"]:focus, .cbxwpsimpleaccounting input[type="file"]:focus, #cbxwpsimpleaccounting input[type="radio"]:focus, .cbxwpsimpleaccounting input[type="radio"]:focus, #cbxwpsimpleaccounting input[type="checkbox"]:focus, .cbxwpsimpleaccounting input[type="checkbox"]:focus{

}
*/
#cbxwpsimpleaccounting input[type="radio"]:focus, .cbxwpsimpleaccounting input[type="radio"]:focus,
#cbxwpsimpleaccounting input[type="checkbox"]:focus, .cbxwpsimpleaccounting input[type="checkbox"]:focus{
    outline: none !important;
}

.tablenav-pages{ color: #4834d4;}
.tablenav-pages .displaying-num{}
.tablenav-pages .pagination-links{}
.tablenav-pages .pagination-links .tablenav-pages-navspan{}
.tablenav-pages .pagination-links .paging-input{}
.tablenav-pages .pagination-links .paging-input .current-page{}
.tablenav-pages .pagination-links .current-page{}
.tablenav-pages .pagination-links .tablenav-paging-text{}
.tablenav-pages .pagination-links .tablenav-paging-text .total-pages{}
.tablenav-pages .pagination-links .next-page{}
.tablenav-pages .pagination-links .prev-page{}
.tablenav-pages .pagination-links .last-page{}
.tablenav-pages .pagination-links .first-page{}

.cbxwpsimpleaccounting_type_1{
    color:#00c52c;
    background-color: #edf9f7;
    border-radius: 5px;
    padding: 3px 10px;
    text-transform: uppercase;
}

.cbxwpsimpleaccounting_type_2{
    color:#E82753;
    background-color: #ffebed;
    border-radius: 5px;
    padding: 3px 10px;
    text-transform: uppercase;
}

.wp-color-picker{
    border-radius: 0px !important;
}
.button.wp-picker-clear{
    background-color: #4D56DC;
    border: 1px solid #4D56DC;
    color: #fff !important;
    border-radius: 0px;
}
.button.wp-color-result{
    border: 1px solid #cccccc;
    &:focus{
        outline: none !important;
        border: 1px solid #cccccc;
    }
}

.button.wp-color-result.wp-picker-open{
    border: 1px solid #cccccc;
}
.wp-picker-input-wrap{
    margin-left: 5px;
}

.select2-container{
    width: 100% !important;
}

#cbacnt-expinc-cat-list{
    li{

        margin: 5px 0 !important;
    }
}
.category-multi-selectbox{
    margin-bottom: 0px !important;
    input[type="checkbox"]{
        margin-top: 0px !important;
    }
}

#cbxwpsimpleaccounting .radio-inline input[type="radio"]{
    margin-top: 0px !important;

    @media (max-width: 782px) {
        position: relative !important;
        margin-right: 10px;
    }
}